*{
    box-sizing: border-box;
    direction: rtl;
} 

.logo{
  
    text-align: center;
}
.logo h3 {
    font-family:'Courier New', Courier, monospace ;
    font-size: 40px;
    color: #00a9d0;
}
.logo img {
    margin: 40px 0; 
}
.book{
    text-align: center;
}
.book p{
font-size: 20px;
}
.book input{
    width: 50%;
    margin-bottom: 10px;
    padding: 10px;
}
.btn {
    font-size: 16px;
    color: #fff;
    background-color: #00a9d0;
    border:none ;

 }

 #in{
     text-align: left;
 }
 h2{
     text-align: center;
 }
 .bsu{
    width: 80px;
    padding: 3px;
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;

    


 }
 .f{
    text-align: right;
 }
 .t{
    width: 100px;
    padding: 7px;
    font-weight: bold;
 }
